nav {
  align-items: center !important;
}

.mobileNav {
  display: none !important;
}

li .fa-house,
.fa-facebook-messenger,
.fa-square-plus,
.fa-compass,
.fa-gratipay {
  font-size: 20px !important;
}

#navInp {
  height: 35px;
  width: 40%;
  border-radius: 7px;
  border-left: none !important;
}

#ig {
  width: 20% !important;
}

.form-floating,
.form-floating .form-control {
  height: 45px !important;
  font-size: 13px;
}

.form-control:focus,
.btn:focus {
  outline: none !important;
  border-color: #ba68c8 !important;
  box-shadow: 0 0 0px #ba68c8 !important;
}

label,
::placeholder {
  font-size: 11px;
  margin-bottom: 30px !important;
  color: #ba68c8;
}

.btn {
  background-color: #ba68c8 !important;
  color: white !important;
  font-size: 13px !important;
}

.led {
  color: #d0cbcb;
}

.leds,
.fs-5 {
  font-size: 12px !important;
}

.image {
  width: 15%;
  margin-left: 250px;
}

a {
  text-decoration: none !important;
  color: rgb(139, 138, 139) !important;
  margin-left: 13px;
  font-size: 13px;
  cursor: pointer;
}

.face {
  color: #385185;
}

.text-primary {
  cursor: pointer;
  font-size: 13px;
}

.user {
  /* height: 26px !important; */
  margin-top: 5px;
  cursor: pointer;
}

#users {
  height: 70px !important;
  cursor: pointer;
}

.fs {
  font-size: 10px;
}

.follow {
  font-size: 12px !important;
  cursor: pointer;
}

#folowerpic {
  height: 30px !important;
  cursor: pointer;
  margin-top: 7px;
}

#userField {
  height: 40px !important;
  cursor: pointer;
}

#card {
  border-radius: 10px !important;
  width: 80% !important;
}

.status {
  text-align: center;
  background: teal;
  /*padding: '30px 0'; */
  width: 70px;
  height: 70px;
  border-radius: 50px;
  font-size: 30px;
}
.text-danger{
  width: 40%;
}
/* .fa-user-pen{
  color: white !important;
  margin-left: -15px;
  margin-top: 25px !important;
} */
/* #coffe{
  height: 180px;
  width: 180px;
  border-radius: 100%;
} */

@media (max-width: 678px) {
  .deskNav {
    display: none !important;
  }

  select {
    width: 100% !important;
  }

  #pro {
    display: none;
  }

  .card {
    width: 90.5% !important;
  }

  .image {
    width: 35%;
    margin-left: 25px !important;
  }

  .log {
    width: 100% !important;
  }

  a {
    text-decoration: none !important;
    color: rgb(139, 138, 139) !important;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
  }#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }

  .status {
    margin-left: 0px !important;
    width: 100% !important;
  }

  .mobileNav {
    align-items: center !important;
    display: block !important;
  }

  p,
  .leds {
    font-size: 10px !important;
  }

  .nav-brand {
    width: 20%;
  }

  #ig {
    width: 100% !important;
  }

  li {
    width: 30px;
  }

  li .fa-house,
  .fa-facebook-messenger,
  .fa-square-plus,
  .fa-compass,
  .fa-gratipay {
    margin-right: px !important;
    font-size: 14px !important;
  }

  .user {
    height: 18px !important;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 13px;
  }

  #pro {
    display: none !important;
  }

  #card {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .status {
    text-align: center;
    background: teal;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
  }
  #coffe{
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }
}
  /* body{margin-top:20px;}
  .timeline-steps {
      display: flex;
      justify-content: center;
      flex-wrap: wrap
  }
  
  .timeline-steps .timeline-step {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 1rem
  }
  
  @media (min-width:768px) {
      .timeline-steps .timeline-step:not(:last-child):after {
          content: "";
          display: block;
          border-top: .25rem dotted #3b82f6;
          width: 3.46rem;
          position: absolute;
          left: 7.5rem;
          top: .3125rem
      }
      .timeline-steps .timeline-step:not(:first-child):before {
          content: "";
          display: block;
          border-top: .25rem dotted #3b82f6;
          width: 3.8125rem;
          position: absolute;
          right: 7.5rem;
          top: .3125rem
      }
  }
  
  .timeline-steps .timeline-content {
      width: 10rem;
      text-align: center
  }
  
  .timeline-steps .timeline-content .inner-circle {
      border-radius: 1.5rem;
      height: 1rem;
      width: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #3b82f6
  }
  
  .timeline-steps .timeline-content .inner-circle:before {
      content: "";
      background-color: #3b82f6;
      display: inline-block;
      height: 3rem;
      width: 3rem;
      min-width: 3rem;
      border-radius: 6.25rem;
      opacity: .5
  } */
